#main-nav {
	margin-bottom: 0px;
	border-radius: 0px;
}

#main-title {
	text-align: center;
	text-transform: uppercase;
	letter-spacing:	0.0625em;
}

#photo-banner {
	background: url('/Lighthouse.jpg');
	background-size: cover;
	background-position: center center;
	height: 200px;
}

.footer-element {
	float: left;
	padding-left: 10px;
}

.image-link {
	padding-bottom: 20px;
}

#main-footer {
	text-align: center;
}

#paginator-nav {
	display: inline;
	list-style-type: none;
	padding-right: 20px;
}

#paginator-nav li {
	display: inline;
}

